@import url('./utilities.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/* GENERAL */

li{
    text-decoration: none;
    list-style-type: none;
}
img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.card{
    height: 100%;
    cursor: pointer;
}
.col-3{
    margin-bottom: 20px;
}
/* DEBUG */
.debug .card{
    background-color: lightcoral;
    border: 2px solid red;
    
}

.overlay{
    height: 100%;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.724);
    top: 0;
}
.close-overlay{
    right: 40px;
    top: 20px;
    width: 20px;
    height: 20px;
    color: grey;
    border: 1px solid white;
    cursor: pointer;
    line-height: 20px;
    vertical-align: middle;
}